{% extends "main/layout.html" %}
{% load static %}

{% block body %}

    <link rel="stylesheet" href="{% static 'proyectos/styles.css' %}">
    <h2>Crea tú proyecto!</h2>
     
     {% if message %}
     <div><span style="color: red">{{ message }}</span></div>
    {% endif %}

    <form action="{% url 'crearProyecto' %}" method="post">
        {% csrf_token %}
        <hr>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre del proyecto</label>
                <input class="form-control" autofocus type="text" name="name" placeholder="Nombre del proyecto">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Descripción</label>
                <textarea class="form-control" name="descripcion" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
                
                <div class="form-group col-md-6"> 
                    <label for="exampleFormControlInput1">Que generos tiene tú proyecto: </label>
                    {% for genero in generos %}
                    
                    <label class="checkbox" for="defaultCheck1">
                        <input class="form-check-input"  name="generos" type="checkbox" id="defaultCheck1" value="{{genero}}">    
                    {{genero.label}}
                    </label>
                    {% endfor %}
                </div>
            </div>
        <hr>
        <div>
            
            <div class="form-group col-md-6"> 
                <label class="fexampleFormControlInput1">En que fase de desarrollo se encuentra: </label>
             
                    {% for fase in fases %}              
                    <label class="radio" for="exampleRadios1">
                        <input class="form-check-input"  name="fase" type="radio" id="exampleRadios1" value="{{fase}}">
                    {{fase.label}}
                    </label>
                    {% endfor %}
                
            </div>
        </div>
        

        <div>
            
            <div class="form-group col-md-6"> 
                <label class="fexampleFormControlInput1"> Que framework utilizara:</label>
                {% for framework in frameworks %}
                <label class="checkbox" for="defaultCheck3">
                    <input class="form-check-input" name="frameworks"  type="checkbox" id="defaultCheck3" value="{{framework}}">
                {{framework.label}}
                </label>
                {% endfor %}
            </div>
        </div>
        <div>
            
            <div class="form-group col-md-6"> 
                <label class="fexampleFormControlInput1">Roles que deseas desempeñar:</label>
                {% for rol in roles %}
                <label class="checkbox" for="checkbox">
                    <input class="form-check-input" name="roles"  type="checkbox" id="defaultCheck4" value="{{rol}}">     
                    {{rol.label}}
                </label>           
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label class="fexampleFormControlInput1">Si tienes un enlace a un video de tú proyecto puedes incluirlo  </label>
            <input class="form-control" type="text" name="enlaceVideo" placeholder="Enlace a video del proyecto">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1" >Imagen o logo que represente el proyecto</label>
            <input type="file" class="form-control-file" name="imagen" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Galería de imagenes del proyecto:</label>
            <input type="file" class="form-control-file" name="galeria" id="exampleFormControlFile1" multiple>
        </div>
        <div class="form-group">
            <label class="fexampleFormControlInput1">Si tienes un enlace a un video de tú proyecto puedes incluirlo  </label>
            <input class="form-control" type="text" name="enlaceVideo" placeholder="Enlace a video del proyecto">
        </div>
        <div class="form-group">
            <label class="fexampleFormControlInput1">Si tienes un enlace para descargar tu juego puedes incluirlo  </label>
            <input class="form-control" type="text" name="enlaceVideo" placeholder="Enlace a video del proyecto">
        </div>
    
        <input class="btn btn-primary" type="submit" name="crearProyecto" value="Crear">
        <hr>
    </form>

{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}