{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}


{% block body %}

<link rel="stylesheet" href="{% static 'proyectos/stylesP.css' %}">

{% csrf_token %}

<body>
    <div class="header" id="center">



    </div>

    <div class="contenido">
        <div class="logo">
            {% if not proyecto.imagen %}
            <a href="" class="image fit" id="limage"><img src="{% static 'proyectos/pic03.jpg' %}" alt="My Image" /></a>
            {% else %}
            <img src="{{ proyecto.imagen.url }}" class="" id="limage" alt="My Image" />
            {% endif %}
        </div>
        <div>
            <h1>{{proyecto.nombre}}</h1>
        </div>
    </div>
    <div class="space">

    </div>
    <div class="contenido" id="miembros">
        <h3>Eliminar Administrador</h3>
        <form action="/proyectos/eliminarAdministrador/{{proyecto.nombre}}" method="POST">{% csrf_token %}
            <div class="elemento">
                <label for="exampleFormControlInput1">Miembros:</label>
                <div class="list-group">
                    {% for usuariosPointer in usuarios %}
                    {%if usuariosPointer  in miembros%}
                    <label class="checkbox" for="defaultCheck1"></label>
                    <li><a href="/usuarios/perfil/{{usuariosPointer.username}}">{{usuariosPointer.username}}</a></li>
                    {%endif%}
                    {% endfor %}
                    <br>
                    Nombre del administrador a eliminar
                    <input class="form-control" autofocus type="text" name="eliminarAdmin"
                        value="{{usuariosPointer.username}}"><br>
                    <input class="btn btn-primary" type="submit" name="Eliminar" value="Eliminar">

                </div>
                <a href="/proyectos/gestionMiembros/{{proyecto.nombre}}">Volvera gestion de miembros</a>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    </div>
    </div>
</body>

{% endblock %}

{% block script %}

{% endblock %}