{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}


{% block body %}

    <link rel="stylesheet" href="{% static 'proyectos/stylesP.css' %}">     
    {% csrf_token %}
    <body>
        <div class="header" id="center">
            
           
            
        </div>
        
            <div class="contenido" >
                <div class="logo">
                    {% if not proyecto.imagen %}
                    <a href="" class="image fit" id="limage"><img src="{% static 'proyectos/pic03.jpg' %}" alt="My Image" /></a>
                    {% else %}
                    <img src="{{ proyecto.imagen.url }}" class="" id="limage" alt="My Image" />
                    {% endif %}
                </div>
                <div> 
                    <h1>{{proyecto.nombre}}</h1>
                </div>

                <div class="elemento">
                    <label for="exampleFormControlInput1">Fase de desarrollo</label>
                    <p>{{fase}}</p>
                </div>


                <div class="elemento" id="gris">
                    <label for="exampleFormControlInput1">Sobre el proyecto</label>
                    <p>{{proyecto.descripcion}}</p>
                </div>
                <div class="elemento">
                    <label for="exampleFormControlInput1">Genero:</label>
                    {% for genero in generos %}          
                        <span>{{genero}}</span>             
                    {% endfor %}
                </div>  
                <div class="elemento" id="gris">
                    <label for="exampleFormControlInput1">Frameworks usados:</label>
                    {% for framework in frameworks %}          
                        <span>{{framework}}</span>             
                    {% endfor %}
                </div> 
                
                <div class="elemento">
                    <label for="exampleFormControlInput1">Video del proyecto:</label>
     
                        <span>{{proyecto.enlace_video}}</span>             
   
                </div>
                <div class="elemento" id="gris">
                    <label for="exampleFormControlInput1">Link de descarga:</label>
     
                        <span>{{proyecto.enlace_juego}}</span>             
   
                </div>
                <a  href="/proyectos/editarProyecto/{{proyecto.nombre}}">Editar el proyecto</a>
            </div>
            <div class="space">
                
                
            </div>
            <div class="contenido" id="miembros">
                <h3>Miembros del proyecto</h3>
                <div class="elemento">
                    <label for="exampleFormControlInput1">Miembros:</label>
                    <div class="list-group"> 
                        {% for key,value in miembros.items %}       
                        <li><a href="/usuarios/visitarPerfil/{{key}}">{{key}} - {{value}}</a></li>
                        {% endfor %}
                    </div>
                    <a  href="/proyectos/gestionMiembros/{{proyecto.nombre}}">Editar miembros</a>
                </div> 
            </div>
           
            <div class="space">
                
            </div>
            <div class="contenido">
                <h3>Galería del proyecto</h3>
                <div class="images-vert">
                    <a href="" class="image fit"><img src="{% static 'proyectos/pic03.jpg' %}" alt="My Image" /></a>
                </div>
                
            </div>
            <div class="space">
                
            </div>
            <div class="contenido">
                <input type="button" id="nuevaActualizacion" style="background-color:#008CBA; margin: 5px;" value="Nueva Actualizacion"></button>
                <input type="button" id="cancelarActualizacion" style="background-color:red; margin: 5px; display: none;" value="Cancelar"></button>
                <br>
                <h3 style="text-align: center;">Actualizaciones</h3>
                <form id="actualizacion" action="/proyectos/nuevaActualizacion/{{proyecto.nombre}}" enctype="multipart/form-data" method="post" action="/foo/">
                    {% csrf_token %}
                    <div class="overflow-auto" id="agregarActualizacion" style="display:none; margin-left: 10px; border-collapse: separate; border-spacing: 5 5px;">
                        <table width="95%" cellpadding="0" cellspacing="0" style="border: 0px;">
                            <tr style="padding-bottom: 1em;">
                                <td style="width: 30%;"><input type="file" class="form-control-file" name="imagenNueva" id="imagenNueva"></td>
                                <td style="width: 70%;"><textarea class="form-control" name="descripcionActualizacion" id="descripcionActualizacion" rows="3"></textarea></td>
                                
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: right;">
                                    <input class="btn btn-primary" type="submit" id="publicar" name="publicar" value="Publicar"></button></td>
                            </tr>
                        </table>
                    </div>
                </form>
                <script type="text/javascript">
                    var x=document.getElementById("nuevaActualizacion")
                    x.addEventListener("click",
                    cambiarActualizacion)
                    var y=document.getElementById("cancelarActualizacion")
                    y.addEventListener("click",cambiarActualizacion)
                    var z=document.getElementById("publicar")
                    z.addEventListener("click",validar)

                    function validar(button){
                        event.preventDefault()
                        var texto=document.getElementById("descripcionActualizacion").value
                        var imagen=document.getElementById("imagenNueva").value
                        if(texto=="" && imagen ==""){
                            alert("Datos de actualizacion incompletos")
                            return
                        }
                        document.getElementById("actualizacion").submit()
                    }

                    function cambiarActualizacion(button){
                        var y=document.getElementById("cancelarActualizacion")
                        var x=document.getElementById("nuevaActualizacion")
                        if(x.style.display!="none"){
                            document.getElementById("agregarActualizacion").style.display="grid"
                            document.getElementById("cancelarActualizacion").style.display="inline"
                            x.style.display="none"
                        }else if(y.style.display!="none"){
                            document.getElementById("agregarActualizacion").style.display="none"
                            document.getElementById("nuevaActualizacion").style.display="inline"
                            y.style.display="none"
                        }  
                    }
                </script>
                <hr>
                <div class="overflow-auto"> 
                    {% if not actualizaciones %}
                        <p>No hay Actualizaciones</p>
                    {% else %}
                        {% for actualizacion in actualizaciones %}
                        <div>
                            
                            <img src="{{ actualizacion.imagen.url }}" class="" id="" alt="My Image" />
                            
                            <p>{{ actualizacion.descripcion }}</p>
                        </div>
                        <hr>
                        {% endfor %}
                    {% endif %}
 
                </div>
            </div>
    </body>
        
    

        
 
     



    

{% endblock %}

{% block script %}

{% endblock %}