{% extends "main/layout.html" %}
{% load static %}


{% block bodyhead %}
<div class="header">
    
    <a href="" class="image fit"><img src="{% static 'proyectos/land.png' %}" alt="#" /></a>
    
</div>
{% endblock %}
{% block body %}

    <h2>Mis proyectos</h2>
     
    <link rel="stylesheet" href="{% static 'proyectos/stylesMisP.css' %}">
    <body>
        
        <div class="withShadow">
            <p><a class="btn btn-primary topbtn" href="{%url 'crearProyecto'%}">Crear Proyecto</a></p>
            <div class="row">
            {% for proyecto in proyectos %}
                <div class="col-sm">
                    <div class="card">
                        {% if not proyecto.imagen %}
                        <img class="card-img-top" src="{% static 'proyectos/pic03.jpg' %}" alt="Card image cap">
                        {% else %}
                        <img class="card-img-top" src="{{ proyecto.imagen.url }}" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{proyecto.nombre}}</h5>
                            <p class="card-text">Rol: </p>
                            <a href="/proyectos/{{proyecto.nombre}}/proyecto" class="btn btn-primary">Ir al proyecto</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        
        
        
    </body>

    

    

{% endblock %}

{% block script %}

{% endblock %}