{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}


{% block body %}

    <link rel="stylesheet" href="{% static 'proyectos/stylesP.css' %}">     
    {% csrf_token %}
    <body>
            <div class="header" id="center"></div>
            <div class="logop">
                {% if not proyecto.imagen %}
                <a href="" class="image fit" id="limage"><img src="{% static 'proyectos/pic03.jpg' %}" alt="My Image" /></a>
                {% else %}
                <img src="{{ proyecto.imagen.url }}" class="" id="limage" alt="My Image" />
                {% endif %}
            </div>
        <div class="contenido" >
                
            <div> 
                <h1 id="nombre-proyecto">{{proyecto.nombre}}</h1>
                <div class="elemento">
                    <p >
                        <span id="seguidores" data-contador="{{seguidores}}">{{seguidores}}</span> seguidores
                    </p>
                    <button class="btn btn-primary" id="seguir" data-siguiendo="{{siguiendo}}">
                        {% if siguiendo %}
                            Siguiendo
                        {% else %}
                            Seguir
                        {% endif %}
                    </button>
                </div>
            </div>
            <div class="elemento">
                <label for="exampleFormControlInput1">Fase de desarrollo</label>
                <p>{{fase}}</p>
            </div>


            <div class="elemento" id="gris">
                <label for="exampleFormControlInput1">Sobre el proyecto</label>
                <p>{{proyecto.descripcion}}</p>
            </div>
            <div class="elemento">
                <label for="exampleFormControlInput1">Genero:</label>
                {% for genero in generos %}          
                    <span>{{genero}}</span>             
                {% endfor %}
            </div>  
            <div class="elemento" id="gris">
                <label for="exampleFormControlInput1">Frameworks usados:</label>
                {% for framework in frameworks %}          
                    <span>{{framework}}</span>             
                {% endfor %}
            </div> 
            
            <div class="elemento">
                <label for="exampleFormControlInput1">Video del proyecto:</label>

                    <span>{{proyecto.enlace_video}}</span>             

            </div>
            <div class="elemento" id="gris">
                <label for="exampleFormControlInput1">Link de descarga:</label>

                    <span>{{proyecto.enlace_juego}}</span>             

            </div>
            {% if administrador %}
            <a  href="/proyectos/{{proyecto.nombre}}/edicion" class="btn btn-primary">Editar el proyecto</a>
            {% endif %}
        </div>
        <div class="space">
            
            
        </div>
        <div class="contenido" id="miembros">
            <h3>Miembros del proyecto</h3>
            {% if administrador %}
                <div class="card-body">
                    <a  href="/proyectos/{{proyecto.nombre}}/gestion-miembros" class="btn btn-primary">Editar miembros</a>
                    <a href="/vacantes/{{proyecto.nombre}}/gestion-vacantes" class="btn btn-primary">Gestionar Vacantes</a>
                </div>
            {% endif %}
            <div class="elemento">
                <label for="exampleFormControlInput1">Miembros:</label>
                <div class="list-group"> 
                    {% for key,value in miembros.items %}       
                    <li><a href="/usuarios/{{key}}/perfil">{{key}} - {{value}}</a></li>
                    {% endfor %}
                </div>
            </div> 
        </div>
        <div class="space"></div>
        <div class="contenido">
            <h3>Galería del proyecto</h3>
            <hr>
            {% if proyecto.imagen or actualizaciones %}
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">    
                    </ol>
                    <div class="carousel-inner">
                        {% if proyecto.imagen %}
                            <div class="active item">
                                <img class="d-block w-100" style="object-fit: scale-down; max-height: 400px; align-self: center;" src="{{ proyecto.imagen.url }}">
                            </div>
                            {% if actualizaciones %}
                                {% for actualizacion in actualizaciones %}
                                    {% if actualizacion.imagen %}
                                        <div class="item">
                                            <img class="d-block w-100" style="object-fit: scale-down; max-height: 400px; align-self: center;" src="{{ actualizacion.imagen.url }}">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                        <div class="active item">
                            <img class="d-block w-100" style="object-fit: scale-down; max-height: 400px; align-self: center;" src="{% static 'proyectos/pic03.jpg' %}">
                        </div>
                            {% for actualizacion in actualizaciones %}
                                {% if actualizacion.imagen %}
                                    <div class="item">
                                        <img class="d-block w-100" style="object-fit: scale-down; max-height: 400px; align-self: center;" src="{{ actualizacion.imagen.url }}">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        
                        {% endif %} 
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            {% else  %}
                <p>No hay imagenes</p>
            {% endif %}
        </div>
        <div class="space">
            
        </div>
        <div class="contenido">
            {% if administrador %}
                <input type="button" id="nuevaActualizacion" style="background-color:#008CBA; margin: 5px;" value="Nueva Actualizacion"></button>
            {% endif %}
            <input type="button" id="cancelarActualizacion" style="background-color:red; margin: 5px; display: none;" value="Cancelar"></button>
            <br>
            <h3 style="text-align: center;">Actualizaciones</h3>
            <form id="actualizacion" action="/proyectos/{{proyecto.nombre}}/actualizaciones" enctype="multipart/form-data" method="post" action="/foo/">
                {% csrf_token %}
                <div class="overflow-auto" id="agregarActualizacion" style="display:none; margin-left: 10px; border-collapse: separate; border-spacing: 5 5px;">
                    <table width="95%" cellpadding="0" cellspacing="0" style="border: 0px;">
                        <tr style="padding-bottom: 1em;">
                            <td style="width: 30%;"><input type="file" class="form-control-file" name="imagenNueva" id="imagenNueva"></td>
                            <td style="width: 70%;"><textarea class="form-control" name="descripcionActualizacion" id="descripcionActualizacion" rows="3"></textarea></td>
                            
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: right;">
                                <input class="btn btn-primary" type="submit" id="publicar" name="publicar" value="Publicar"></button></td>
                        </tr>
                    </table>
                </div>
            </form>
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function () {
                    const imagenes=document.querySelectorAll(".item");
                    const indicadores=document.querySelector(".carousel-indicators");
                    for (var i = 0; i < imagenes.length; i++){
                        const indicador=document.createElement("li");
                        indicador.datatarget="#carouselExampleIndicators";
                        indicador.dataslideto=i;
                        if(i==0){
                            indicador.class="active";
                        }
                        indicadores.append(indicador);
                    }
                    var x=document.getElementById("nuevaActualizacion")
                    x.addEventListener("click",
                    cambiarActualizacion);
                    var y=document.getElementById("cancelarActualizacion");
                    y.addEventListener("click",cambiarActualizacion);
                    var z=document.getElementById("publicar");
                    z.addEventListener("click",validar);

                    const proyecto = document.querySelector('#nombre-proyecto').innerHTML;
                    const botonSeguir = document.querySelector('#seguir');
                    botonSeguir.addEventListener('click', () => {
                        seguir(proyecto);
                    });
                });

                function seguir(proyecto) {
                    let seguidores = document.querySelector("#seguidores");
                    //Restar cuando se deja de seguir
                    const botonSeguir = document.querySelector('#seguir');
                    if(botonSeguir.dataset.siguiendo == "False"){
                        seguidores.dataset.contador++;
                        seguidores.innerHTML = seguidores.dataset.contador;
                        botonSeguir.dataset.siguiendo = "True";
                        botonSeguir.innerHTML = "Siguiendo";
                    }
                    else {
                        seguidores.dataset.contador--;
                        seguidores.innerHTML = seguidores.dataset.contador;
                        botonSeguir.dataset.siguiendo = "False";
                        botonSeguir.innerHTML = "Seguir";
                    }
                    let csrftoken = getCookie('csrftoken');
                    fetch(`/proyectos/${proyecto}/seguidores`, {
                        method: 'PUT',
                        headers: { "X-CSRFToken": csrftoken }
                    });
                }

                // The following function was copied from the Django documentation at https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
                // It's used for getting the csrf token that is needed in order to send the PUT request
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                function validar(button){
                    event.preventDefault();
                    var texto=document.getElementById("descripcionActualizacion").value;
                    var imagen=document.getElementById("imagenNueva").value;
                    if(texto=="" && imagen ==""){
                        alert("Datos de actualizacion incompletos");
                        return;
                    }
                    document.getElementById("actualizacion").submit();
                }

                function cambiarActualizacion(button){
                    var y=document.getElementById("cancelarActualizacion");
                    var x=document.getElementById("nuevaActualizacion");
                    if(x.style.display!="none"){
                        document.getElementById("agregarActualizacion").style.display="grid";
                        document.getElementById("cancelarActualizacion").style.display="inline";
                        x.style.display="none";
                    }else if(y.style.display!="none"){
                        document.getElementById("agregarActualizacion").style.display="none";
                        document.getElementById("nuevaActualizacion").style.display="inline";
                        y.style.display="none";
                    }  
                }
            </script>
            <hr>
            <div class="overflow-auto"> 
                {% if not actualizaciones %}
                    <p>No hay Actualizaciones</p>
                {% else %}
                    {% for actualizacion in actualizaciones %}
                    <div>
                        {% if actualizacion.imagen %}
                        <img src="{{ actualizacion.imagen.url }}" class="" id="" alt="My Image" />
                        
                        {% endif %}
                        <p>{{ actualizacion.descripcion }}</p>
                    </div>
                    <hr>
                    {% endfor %}
                {% endif %}

            </div>
        </div>


    </body>

{% endblock %}

{% block script %}

{% endblock %}