{% extends "main/layout.html" %}
{% load static %}
{% load images %}

{% block body %}

    <h2>Mis proyectos</h2>
     
    
     <div class="thumbnails">

        {% for proyecto in proyectos %}
        <div class="box">
            <a href="" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
            <div class="inner">
                <h3>{{proyecto.nombre}}</h3>           
                <a href="" class="button fit" data-poptrox="youtube,800x400">Ver página</a>
            </div>
        </div>
        {% endfor %}


    </div>
    

{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}