{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block bodyhead %}

{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'comunicacion/styles.css' %}">  
    
    
         
   
    
        <div class="conversacion contenidoPrincipal">
            <div>
                
            </div>
            <div> 
                <div class="con overflow-auto">
                
                <!--

                   
                    
                -->
                
                 <div class="yours messages">

                 </div>   
                    
  
                </div>
                
            </div> 
            
                <input id="chat-message-input" type="text" name="msg" size="100"><br>
                <input id="chat-message-submit" type="button" value="Send">
            
        </div>
        

        
        
   
    {{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}
    <script>
        var creada = 0;
      
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const user_username = JSON.parse(document.getElementById('user_username').textContent);

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/comunicacion/chat/'
                + roomName
                + '/'
                
            );
            creada = 1;
   
        

        if(creada == 1){
                chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                console.log(data);
                if(data.autor == user_username){
                    $('.con').append('<div class="mine messages"><div class="message">'+ data.message + '</div></div>')
                }
                else{
                    $('.con').append('<div class="yours messages"><div class="message">'+ data.message + '</div></div>')
                //document.querySelector('#chat-log').value += (data.message + '\n')
                }
                
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'autor': user_username
                }));
                setTimeout(() => console.log("Third"), 3000)
                messageInputDom.value = '';
            };
        }
       
        


        /*$(function () {
        $('#chat__form').on('submit', function(e) {
            e.preventDefault();
            var message = $('#text-message').val();
            $('#text-message').val('');
            var date = new Date().toJSON().slice(0,10).replace(/-/g,'/');
            $('.con').append('<div class="yours messages">' + message + '</div>')
        })
        });*/

        
    </script>


    
    
{% endblock %}

{% block script %}

{% endblock %}