{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block bodyhead %}

{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'comunicacion/styles.css' %}">  

    <form action="{% url 'conversaciones' %}" method="post">
        {% csrf_token %}
        <nav class="navbarp busqueda">
            <div class="usuarios">
                
                    
                    <div id="searchWrapper">
                        <input
                            type="text"
                            name="searchBar"
                            id="searchBar"
                            placeholder="Busca un usuario"
                        />
                        <input class="btn btn-primary" type="submit" value="crear">
                        <ul id="usuarios"></ul>
                    </div>

                
            </div>
    </form>
        </nav>
            <div class="con contenidoPrincipal">
                {% for conversacion in conversaciones %}
                    {% for participacion in conversacion.participantes.all %}

                        {% if participacion.username != request.user.username %}
                            <div class="list-group">
                                <a href="/comunicacion/chat/{{conversacion.id}}/" class="list-group-item list-group-item-action active">
                                {{participacion.username}}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            

            {{ users | json_script:"users" }}
            <script id="users" type="text/javascript" >
                const userList = document.getElementById('usuarios');
                const searchBar = document.getElementById('searchBar');
                let characters = [];


                searchBar.addEventListener('keyup', (e) => {
                    const searchString = e.target.value.toLowerCase();

                    const filteredCharacters = characters.filter((character) => {
                        return (
                            character.username.toLowerCase().includes(searchString)
                            
                        );
                    });
                    displayCharacters(filteredCharacters);
                });

                const loadCharacters = async () => {
                    try {
                    // const value = JSON.parse(document.getElementById('users').textContent);
                    //const res = await fetch('https://hp-api.herokuapp.com/api/characters');
                    const res = {{ users | safe }};
                    
                    characters = res;
                    for(var x in res){ 
                        console.log(x); 
                        } 
                        console.log(res);
                    // displayCharacters(characters);
                    
                    } catch (err) {
                        console.error(err);
                    }
                };

                const displayCharacters = (characters) => {
                    const htmlString = characters
                        .map((character) => {
                            return `
                            <li class="character">
                                <input class="form-check-input" type="radio" name="usuarioB" id="exampleRadios1" value="${character.username}" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    ${character.username}
                                </label>
                            </li>

                        `;
                        })
                        .join('');
                    userList.innerHTML = htmlString;
                };


                loadCharacters();   
            </script>
            


                
        
    
   
    
      
    
    
{% endblock %}

{% block script %}

{% endblock %}