{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block bodyhead %}

{% endblock %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'comunicacion/styles.css' %}">  

    <div class="contenido">
        <div class="panel">
            <form action="{% url 'conversaciones' %}" method="post">
                {% csrf_token %}
                <nav class=" busqueda">
                    <div class="usuarios">        
                            <div id="searchWrapper">
                                <input
                                    type="text"
                                    name="searchBar"
                                    id="searchBar"
                                    placeholder="Busca un usuario"
                                />
                                <button class="" type="submit" value="crear">Crear</button>
                                <div class="dropdown-menu" id="" aria-labelledby="dropdownMenuLink">
                                    
                                </div>
                                
                                <ul class="select" name="usuarioB" id="usuarios">
    
                                </ul>
  
                                
    
                            </div>
                    </div>
            
                </nav>
            </form>
                    <div class="">
                        {% for conversacion in conversaciones %}
                            {% for participacion in conversacion.participantes.all %}
        
                                {% if participacion.username != request.user.username %}
                                    <div class="list-group overflow-auto">
                                        <a href="conversaciones/{{conversacion.id}}/chat/" class="list-group-item list-group-item-action active">
                                        {{participacion.username}}
                                        </a>
                                    </div>
                                    
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
        </div>
        {% block chatbody %}
        {% endblock %}
        
    </div>

    
            

            {{ users | json_script:"users" }}
            <script id="users" type="text/javascript" >
                const userList = document.getElementById('usuarios');
                const searchBar = document.getElementById('searchBar');
                let characters = [];


                searchBar.addEventListener('keyup', (e) => {
                    const searchString = e.target.value.toLowerCase();

                    const filteredCharacters = characters.filter((character) => {
                        return (
                            character.username.toLowerCase().includes(searchString)
                            
                        );
                    });
                    if(e.target.value != ""){
                        displayCharacters(filteredCharacters);
                    }
                    
                });

                const loadCharacters = async () => {
                    try {
                    // const value = JSON.parse(document.getElementById('users').textContent);
                    //const res = await fetch('https://hp-api.herokuapp.com/api/characters');
                    const res = {{ users | safe }};
                    
                    characters = res;
                    for(var x in res){ 
                        console.log(x); 
                        } 
                        console.log(res);
                    // displayCharacters(characters);
                    
                    } catch (err) {
                        console.error(err);
                    }
                };

                const displayCharacters = (characters) => {
                    const htmlString = characters
                        .map((character) => {
                            return `
                            
                                
                                
                            <li class="">
                                <label>
                                        <input type="radio" value="${character.username}" name="usuarioB" checked="checked" />
                                        <span>${character.username}</span>
                                </label>
                            </li>

                        `;
                        })
                        .join('');
                    userList.innerHTML = htmlString;
                };


                loadCharacters();   
            </script>
            


                
        
    
   
    
      
    
    
{% endblock %}

{% block script %}

{% endblock %}