{% extends "main/layout.html" %}
{% load static %}

{% block body %}

<div class="contenido">
            <h2 align="center">Editar mi perfil: {{usuario.username}}</h2>

        <form action="/usuarios/{{user.username}}/perfil" enctype="multipart/form-data" method="post" action="/foo/">


            <link rel="stylesheet" href="{% static 'usuarios/styles.css' %}">
            {% csrf_token %}
            <br>
            <div class="">
                {% if not usuario.imagen %}
                <img src="https://i.ibb.co/MNdStBT/foto-perfil.png" alt="foto-perfil" class="center" width="180">
                {% else %}
                <img src="{{ usuario.imagen.url }}" class="center" alt="My Image" />
                {% endif %}
                <br>

            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Cambiar Imagen</label>
                <input type="file" class="form-control-file" name="imagen" id="exampleFormControlFile1">
            </div>
            <th>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripción</label>
                    <textarea class="form-control" name="descripcion" id="exampleFormControlTextarea1"
                        rows="3">{{usuario.descripcion}}</textarea>
                </div>
                <div>
                    <span> Roles: </span>
                    <ul style="list-style-type: circle">
                        {% for rol in posiblesRoles %}
                        {% if rol.label in roles%}
                        <input class="form-check-input" name="roles" type="checkbox" id="inlineCheckbox1" value="{{rol}}"
                            checked="true">&nbsp&nbsp&nbsp
                        <label class="form-check-label" for="inlineCheckbox1">{{rol.label}}</label>
                        
                        {% else %}
                        <input class="form-check-input" name="roles" type="checkbox" id="inlineCheckbox1"
                            value="{{rol}}">&nbsp&nbsp&nbsp
                        <label class="form-check-label" for="inlineCheckbox1">{{rol.label}}</label>
                        
                        {% endif %}
                        <br>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <span> Géneros de interés: </span>
                    <ul style="list-style-type: circle">
                        {% for genero in posiblesGeneros %}
                        {% if genero.label in generos%}
                        <input class="form-check-input" name="generos" type="checkbox" id="inlineCheckbox1" value="{{genero}}"
                            checked="true">&nbsp&nbsp&nbsp
                        <label class="form-check-label" for="inlineCheckbox1">{{genero.label}}</label>
                        
                        {% else %}
                        <input class="form-check-input" name="generos" type="checkbox" id="inlineCheckbox1"
                            value="{{genero}}">&nbsp&nbsp&nbsp
                        <label class="form-check-label" for="inlineCheckbox1">{{genero.label}}</label>
                        
                        {% endif %}
                        <br>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <span> FrameWorks: </span>
                    <ul style="list-style-type: circle">
                        {% for framework in posiblesFrameworks %}
                        {% if framework.label in frameworks%}
                        <input class="form-check-input" name="frameworks" type="checkbox" id="inlineCheckbox1"
                            value="{{framework}}" checked="true">&nbsp&nbsp&nbsp
                        <label class="form-check-label" for="inlineCheckbox1">{{framework.label}}</label>
                        
                        {% else %}
                        <input class="form-check-input" name="frameworks" type="checkbox" id="inlineCheckbox1"
                            value="{{framework}}">&nbsp&nbsp&nbsp
                        <label class="form-check-label" for="inlineCheckbox1">{{framework.label}}</label>
                        
                        {% endif %}
                        <br>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <span> Proyectos: </span>
                    <ul class="listas">
                        {% for key,value in participaciones.items %}
                        <li>
                            {{key}} - {{value}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <br>
                <a href="/usuarios/cambio-clave">Cambiar Contraseña</a>
                <br>
                <table style="width:189%">
                    <thead>
                        <tr>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <br>
                    <tbody>
                        <tr>
                      <td> <input class="btn btn-primary" type="submit" value="Guardar"> </td>
                      <td> <a  class="btn btn-primary" href="/usuarios/{{user.username}}/perfil">Cancelar</a> </td>
                        </tr>
                    </tbody>                    
                  </table>                
        </form>
        <br />
        <hr />
        
</div>





{% endblock %}