{% extends "main/layout.html" %}
{% load static %}

{% block body %}

<h2  align="center">Editar mi perfil: {{usuario.username}}</h2>

<form action="/usuarios/editar/{{user.username}}" method="POST">
    
     
    <link rel="stylesheet" href="{% static 'usuarios/styles.css' %}">
    {% csrf_token %}
    <div class="">
        {% if not proyecto.imagen %}
            <img src="https://i.ibb.co/MNdStBT/foto-perfil.png" alt="foto-perfil" class="center" width="180">
        {% else %}
            <img src="{{ usuario.imagen.url }}" class="center" alt="My Image" />
        {% endif %}
        <br>
        <span> Descripción: {{usuario.descripcion}} </span>
    </div>
    <div>
        <span > Roles: </span>
        <ul style="list-style-type: circle">
            {% for rol in posiblesRoles %}
                {% if rol.label in roles%}
                <input class="form-check-input" name="roles" type="checkbox" id="inlineCheckbox1" value="{{rol}}" checked="true">
                <label class="form-check-label" for="inlineCheckbox1">{{rol.label}}</label>
                {% else %}
                <input class="form-check-input" name="roles" type="checkbox" id="inlineCheckbox1" value="{{rol}}">
                <label class="form-check-label" for="inlineCheckbox1">{{rol.label}}</label>  
                {% endif %}              
            {% endfor %}
        </ul>
    </div>
    <div>
        <span > Géneros de interés: </span>
        <ul style="list-style-type: circle">
            {% for genero in posiblesGeneros %}
                {% if genero.label in generos%}
                <input class="form-check-input" name="generos" type="checkbox" id="inlineCheckbox1" value="{{genero}}" checked="true">
                <label class="form-check-label" for="inlineCheckbox1">{{genero.label}}</label>
                {% else %}
                <input class="form-check-input" name="generos" type="checkbox" id="inlineCheckbox1" value="{{genero}}">
                <label class="form-check-label" for="inlineCheckbox1">{{genero.label}}</label>  
                {% endif %}              
            {% endfor %}
        </ul>
    </div>
    <div>
        <span > FrameWorks: </span>
        <ul style="list-style-type: circle">
            {% for framework in posiblesFrameworks %}
                {% if framework.label in frameworks%}
                <input class="form-check-input" name="frameworks" type="checkbox" id="inlineCheckbox1" value="{{framework}}" checked="true">
                <label class="form-check-label" for="inlineCheckbox1">{{framework.label}}</label>
                {% else %}
                <input class="form-check-input" name="frameworks" type="checkbox" id="inlineCheckbox1" value="{{framework}}">
                <label class="form-check-label" for="inlineCheckbox1">{{framework.label}}</label>  
                {% endif %}              
            {% endfor %}
        </ul>
    </div>
    <div>
        <span > Proyectos: </span>
        <ul style="list-style-type: circle">
            {% for key,value in participaciones.items %}
                <li>
                    {{key}} - {{value}}
                </li>
            {% endfor %}
        </ul>
    </div>

    <input class="btn btn-primary" type="submit" value="Realizar Cambios">
</form>
<a  href="/usuarios/perfil/{{user.username}}">Volver a mi perfil</a>

    
    
{% endblock %}