{% extends "main/layout.html" %}
{% load static %}

{% block body %}
<div class="contenido">
    <h2  align="center">{{usuario.username}}</h2>
     <br>
    <link rel="stylesheet" href="{% static 'usuarios/styles.css' %}">
    {% csrf_token %}
    <div class="">
        {% if not usuario.imagen %}
            <img src="https://i.ibb.co/MNdStBT/foto-perfil.png" alt="foto-perfil" class="center" width="180">
        {% else %}
            <img src="{{ usuario.imagen.url }}" class="center imagePerfil" alt="My Image" />
        {% endif %}
        <br>
    </div>
    <div>
        <span> Descripción: </span>{{usuario.descripcion}} 
    </div>
    <br>
    <div>
        <span > Roles: </span>
        <ul class="listas">
            {% for rol in roles %}
                <li> {{rol}} </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span > Géneros de interés: </span>
        <ul class="listas">
            {% for genero in generos %}
                <li> {{genero}} </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span > FrameWorks: </span>
        <ul class="listas">
            {% for framework in frameworks %}
                <li> {{framework}} </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span > Proyectos: </span>
        <ul class="listas">
            {% for key,value in participaciones.items %}
                <li>
                    {{key}} - {{value}}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if usuario.username == autenticado.username %}
    <a href="/usuarios/{{user.username}}/perfil/edicion" class="btn btn-primary" >Editar Mi Perfil</a>
    {% endif %}
</div>
    

    
    
{% endblock %}