{% extends "main/layout.html" %}
{% load socialaccount %}
{% load static %}

{% block body %}

    <h2>Registrarse</h2>
     
    

    <form action="{% url 'registrar' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Nombre de usuario">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Correo electronico">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirma contraseña">
        </div>

        <div>
            <label class="form-check-label">Roles:</label>
            <div class="form-check form-check-inline"> 
                
                {% for rol in roles %}
                <input class="form-check-input" name="roles" type="checkbox" id="inlineCheckbox1" value="{{rol}}">
                <label class="form-check-label" for="inlineCheckbox1">{{rol.label}}</label>
                {% endfor %}
            </div>
        </div>
        <div>
            <label class="form-check-label">Frameworks:</label>
            <div class="form-check form-check-inline"> 
                
                {% for framework in frameworks %}
                <input class="form-check-input" name="frameworks"  type="checkbox" id="inlineCheckbox1" value="{{framework}}">
                <label class="form-check-label" for="inlineCheckbox1">{{framework.label}}</label>
                {% endfor %}
            </div>
        </div>
        <div>
            <label class="form-check-label">Generos:</label>
            <div class="form-check form-check-inline"> 
                
                {% for genero in generos %}
                <input class="form-check-input"  name="generos" type="checkbox" id="inlineCheckbox1" value="{{genero}}">
                <label class="form-check-label" for="inlineCheckbox1">{{genero.label}}</label>
                {% endfor %}
            </div>
        </div>
    
        <input class="btn btn-primary" type="submit" value="Registrarse">
        
    </form>

    ¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí.</a>
    <br>
    O inicia sesion con <a href="{% provider_login_url 'google' %}">Google</a>
{% endblock %}

{% block script %}

{% endblock %}