.tbody{
    width: 1200px;
    height: 500px;
    background: transparent;
}

.busqueda {
	  
    width: 20rem;
	  
    }
    
.con{
    background: #202124;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 90%;
    justify-content: flex-end;
    max-height: 300px;
}

.conversaciones{
  padding-left: 20em;
  margin-top: 0rem;
}

.actual{
    background-color: #02d9c5;
    position: absolute;
  font-size: 18px;
    width: 100%;
    margin:0px;
    height:auto;
    
}

.form-inline .form-control{
    width: 100%;
}

.chat {
    width: 300px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .messages {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    bottom: 0;
    background: linear-gradient(to bottom, #02d9c5 0%, #02d9c5 100%);
    font-weight: bold;
  }
  
  .yours {
    align-items: flex-start;
  }
  
  .yours .message {
    margin-right: 25%;
    
    position: relative;
  }
  
  
  .mine {
    align-items: flex-end;
  }
  
  .mine .message {
    color: white;
    margin-left: 25%;
    
    background-attachment: fixed;
    position: relative;
  }

  #usuarios{
    background-color: gray;
    overflow: visible;
  }
  
  .panel{
    max-width: 20%;
    background-color: transparent;
    margin-right: 0%;
  }

  .form-check-input{
    margin-right: 25%;
  }

  :checked + span {
    font-weight: bold;
}

/* Optional other stuff just to make it look better */
label {
    display: inline-block;
    width: 200px;
    padding: 5px;
}
label:hover {
    background:#eee;
    cursor:pointer;
    border: 1px solid #aaa;
    padding: 4px;
}