.tbody{
    width: 1200px;
    height: 500px;
    background: black;
}

.busqueda {
	  
    width: 20rem;
	  
    }
    
.con{
    background: #202124;
    height: 460px;
    margin-left: 20rem;
    
}

.actual{
    background-color: #02d9c5;
    position: absolute;
  font-size: 18px;
    width: 100%;
    margin:0px;
    height:auto;
    
}

.form-inline .form-control{
    width: 100%;
}