@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");




html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;


		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#083237+2,000000+100 */
		/*background: #083237; /* Old browsers */
		/*background: -moz-linear-gradient(45deg,  #083237 2%, #000000 100%); /* FF3.6-15 */
		/*background: -webkit-linear-gradient(45deg,  #083237 2%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
		/*background: linear-gradient(45deg,  #083237 2%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#083237', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		/*background: #0f221e;*/

		/*background-repeat: no-repeat;*/
		background-color: #ff9d00;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
		background-attachment: fixed;
		background-size: cover;
		font: inherit;
		font-size: 11pt;
		font-weight: 300;
		color: #656565;
	}
	
	#titulo{
		font-size: 130pt;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
		
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	ul.actions
	{
		text-align: center;
	}
		
		ul.actions li
		{
		}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	
	
	a:hover
	{
		text-decoration: none;
		color: #E94560;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1000px;
  }
  
  .tbody
  {
	/*background: #1B262C;*/
	border-collapse: separate;
	border-radius: 25px;
	background: #ebebeb;
    overflow: hidden;
	margin: 0em auto;
	width: 1000px;
	padding: 20px;
	/*width: 200px; height: 150px;*/
    perspective: 1px;
	
	

  }


	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	


/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}
	
	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}




/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #6b126b;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

	.btn{
		background: #2f002f;
	}

	.topbtn{
		position: absolute;
		right: 10px;
		top: 5px;
		font-size: 1em;
	}
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
	
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}
	
	.barra{
		padding: 0px;
		overflow: auto;
	}

	#backgroundimage {
		background-image: url("2738.jpg");
		width: 100vw;
		height: 100vh; 
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
	} 



/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
	}
	
	#logo h1
	{
		
		color: #FFF;
	}
	
	#logo a
	{
		text-decoration: none;

		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;

		font-size: 1em;
		color: #FFF;
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
		color: #E94560;
	}
	
	#menu .current_page_item a
	{
		color: #E94560;
	}

	#navbarNavDropdown{

	}
	
	#navbar-nav{
		position: absolute;
        width: 100%;
        right: auto;
        text-align: center;
	}

	.dropdown-menu-right { 
		left: 0; 
		right: auto; 
	}



	#nav-item{
		color: black;
	}


  
  

  .litem{
    background: #6b126b;
}
  
/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

  .space
  {
    padding: 5em;
  }

	


/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 4em;
		background-color: #191F24;
	}










	.tbody{
		background: white;
	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		padding-bottom: 20px;
		
	  }

	 