{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{% static 'preguntas/styles.css' %}">     
    {% csrf_token %}
    <body>
        <div class="header" id="center"><h1>Preguntas</h1></div>
        {% if message %}
            <div><span style="color: red">{{ message }}</span></div>
        {% endif %}
        <p><a class="btn btn-primary topbtn" href="{%url 'crearPregunta'%}">Crear Pregunta</a></p>
        <div>
            {% if not preguntas %}
                <h2>No hay preguntas disponibles</h2>
            {% else %}
                <hr>
                <div class="list-group"> 
                    {% for pregunta in preguntas %}       
                        <li><a href="/preguntas/verPregunta/{{pregunta.id}}">{{pregunta.titulo}} - {{pregunta.texto}}</a><hr></li>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </body>
{% endblock %}

{% block script %}

{% endblock %}