{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{% static 'preguntas/stylesP.css' %}">     
    {% csrf_token %}
    <body>
        <div class="">
                <div class="header" id="center"><h1>Preguntas</h1></div>
            <!-- Seccion de mensajes de errores -->
            {% if message %}
                <div><span style="color: red">{{ message }}</span></div>
            {% endif %}
            <!-- Seccion para ir a crear pregunta -->
            <p><a class="btn btn-primary topbtn" href="{%url 'crearPregunta'%}">Crear Pregunta</a></p>
            <!-- Seccion para desplegar barra de busueda -->
            <div class="dropdown">
                <button onclick="myFunction()" class="btn btn-primary">Buscar Pregunta</button>
                <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Buscar.." id="myInput" onkeyup="filterFunction()">
                    {% if not preguntas %}
                        <h2>No hay preguntas disponibles</h2>
                    {% else %}
                        {% for pregunta in preguntas %}       
                        <a href="/preguntas/pregunta/{{pregunta.id}}">{{pregunta.titulo}}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!-- Seccion de preguntas mas puntuadas -->
            <div>
                {% if not preguntas %}
                    <h2>No hay preguntas disponibles</h2>
                {% else %}
                    <hr>
                    <div class="list-group"> 
                        {% for pregunta in preguntas %}       
                            <li><a href="/preguntas/pregunta/{{pregunta.id}}">{{pregunta.titulo}} - {{pregunta.texto}}</a><hr></li>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        
    </body>
    <script>
        /*Funcion para desplegar barra de busqueda*/
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        /*Funcion para filtrar la pregunta buscada*/
        function filterFunction() {
          var input, filter, ul, li, a, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          div = document.getElementById("myDropdown");
          a = div.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
            } else {
              a[i].style.display = "Sin Resultados";
            }
          }
        }
    </script>
{% endblock %}

{% block script %}

{% endblock %}