{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{% static 'preguntas/styles.css' %}">     
    {% csrf_token %}
    <body>
        <div class="header" id="center">
            
           
            
        </div>
        <div>
            <h1 id="nombre-proyecto">Preguntas</h1>
        </div>
        <div class="space"></div>
        <div class="contenido" id="preguntas">
            {% if not preguntas %}
                <h2>No hay preguntas disponibles</h2>
            {% else %}

            {% endif %}
        </div>
    </body>
{% endblock %}

{% block script %}

{% endblock %}