body{
    
}

#tbodyID{
    background: #2e2e2e;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   }

img{
    width: 80%;
    height: auto;
    overflow: auto;
}
h2{
    color: #e6e6e6;   
}

h3{
    padding: 10px;
}

.space{
    padding: 0em;
}

.card{
    background-color: #1f1f1f;
  }

  