#tbodyID{
 width: 100%;
 margin: 0;
 padding: 0;   
 background-color: transparent;
 color: #e6e6e6;
 font-size: 18pt;
}


.container-name div { 
    display: inline-block; 
    width: 500px; 
    min-height: 50px; 
    background-color: #eee; 
    height: auto; 
  } 

.contenido{
    width: 100%; height:auto;  margin:0px;
    box-shadow: 20mm;
    background: #423d46;
}

.act{
    border-collapse: separate;
	border-radius: 25px;
	background: #ebebeb;
	margin: 0em auto;
    width: 100%;
	/*width: 200px; height: 150px;*/
    perspective: 1px;
    

}

.cont2{
    width: 300px; float:right; height:auto; background:white; margin:0px;
    padding-left: 4px;
    padding-right: 2px;
    padding-bottom: 4px;
    padding-top: 2px;
    border-radius: 25px 0px 0px 25px;

}

.elemento{
    padding: 20px;
    shadow: 0.16mm;
    
}

.imgLink { border: none; background: none; }
.imgLink img
{
  height: 8rem;
}
.imgLink:active img, .imgLink:focus img
{
  height: 16rem;
}

h1, h3{
    text-align: center;
    color: #e6e6e6;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

#list-group-item{
    background-color: #6b126b;
}

.space
  {
    padding: 5em;
  }

.list-group-item{
  background-color: #3c4042;
  
}

#gris{
  background-color: #1f1f1f;
}

#miembros{
  width: 60%;
  margin-left: auto;
		margin-right: auto;
}