.form-check-label
{
    /*<link rel="stylesheet" href="{%static 'usuarios/styles.css'%}">*/
   /* <link href="{% static 'main/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />*/
   /* color: white;*/
}

.center{
    width: 20%;
    padding-bottom: 0px;
}

.contenido span {
    font-size: 15pt;
    font-weight: bold;
}