{% extends "main/layout.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block bodyhead %}
<link rel="stylesheet" href="{% static 'main/indexStyles.css' %}">
<div class="logop header" id="">
    <a href="" class="image fit limage"><img src="{% static 'main/2738.jpg' %}" alt="#" id="" /></a> 
    <a href="https://www.freepik.com/vectors/background">by upklyak</a>
</div>

{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'main/indexStyles.css' %}">



<div class="">
    {% if user.is_authenticated %}
        
            <h2 class="titulo"> Actualizaciones de los proyectos que sigues </h2>
            {% for actualizacion in actualizaciones%}
                <div class="contenido">
                    <h4> 
                        {% if actualizacion.proyecto.imagen %}
                            <img src="{{ actualizacion.proyecto.imagen.url }}" class="avatar imagePerfil" id="fondoTransparente" alt="My Image" />
                        {% else %}
                            <img src="/usuarios/defaultUser.png" class="avatar imagePerfil" id="fondoTransparente" alt="Imagen" />
                        {% endif %} 
                        <a href="/proyectos/{{actualizacion.proyecto.nombre}}/proyecto"> {{actualizacion.proyecto.nombre}} </a>
                    </h4>
                    <p class="timestamp"> {{actualizacion.fecha}} </p>
                    <p> {{actualizacion.descripcion}} </p>   
                    {% if actualizacion.imagen %}
                        <div class="logop">
                            <img src="{{ actualizacion.imagen.url }}" class="" id="limage" alt="My Image" style="object-fit: scale-down; max-height: 400px; align-self: center;" />
                        </div>
                    {% endif %}
                </div>
                <div class="space"></div>     
            {% empty %}
                <div class="contenido">
                    <p> En este momento no hay actualizaciones. </p>
                </div> 
            {% endfor %}
            <ul class="pagination">
                {% if pagina_anterior != -1 %}
                    <li class="page-item"><a class="page-link" href="/?numero_pagina={{pagina_anterior}}">Anterior</a></li>
                {% endif %}
                {% if pagina_siguiente != -1 %}
                    <li class="page-item"><a class="page-link" href="/?numero_pagina={{pagina_siguiente}}">Siguiente</a></li>
                {% endif %}
            </ul>    
        
        
    {% else %}

    <h2 class="titulo"> Proyectos más populares </h2>

    {% for pop in populares %}
    <div class="contenido">
        <div class="logop">
            {% if not pop.imagen %}
            <a href="" class="image fit" id="limage"><img src="{% static 'proyectos/pic03.jpg' %}" alt="My Image" /></a>
            {% else %}
            <img src="{{ pop.imagen.url }}" class="" id="limage" alt="My Image" />
            {% endif %}
        </div>
        <h2>{{pop.nombre}}</h2>
        <div>
            <p>{{pop.descripcion}}</p>    
        </div> 
    </div>
    <div class="space"></div>
    {% endfor %}
    {% endif %}

</div>
    


{% endblock %}



{% block bodyDerecha %}
<div class="" id="vacantes">
    
    <div  id="container">
        <h1>Vacantes</h1>
        <h1>Interesantes</h1>
        {% for key,value in vacantes.items %}
        <br>
            {% for keyp,valuep in proyectoKey.items %}
                {% if keyp == key %}
                <span>
                    
                    <a href="/proyectos/{{valuep.nombre}}/proyecto"> 
                    <h3>
                        {% if valuep.imagen %}
                            <img src="{{ valuep.imagen.url }}" class="avatar imagePerfil" id="fondoTransparente" alt="My Image" />
                        {% else %}
                            <img src="/usuarios/defaultUser.png" class="avatar imagePerfil" id="fondoTransparente" alt="Imagen" />
                        {% endif %} 
                        {{valuep.nombre}}
                    </h3> 
                    </a>
                </span>
                {% endif %}
            {% endfor %}
            
            <p class="">        
                {{value}}
             </p>
            <button >Aplicar</button>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block script %}

{% endblock %}