{% extends "main/layout.html" %}
{% load static %}

{% block body %}

    <h2>Página principal</h2>
    <div class="tenor-gif-embed" data-postid="15722832" data-share-method="host" data-width="100%" data-aspect-ratio="0.5401606425702812"><a href="https://tenor.com/view/jesus-dancing-simpsons-homer-yisus-gif-15722832">Jesus Dancing GIF</a> from <a href="https://tenor.com/search/jesus-gifs">Jesus GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <div class="tenor-gif-embed" data-postid="18684564" data-share-method="host" data-width="100%" data-aspect-ratio="1.585987261146497"><a href="https://tenor.com/view/spongebob-squarepants-laughing-haha-so-gif-18684564">Spongebob Squarepants GIF</a> from <a href="https://tenor.com/search/spongebob-gifs">Spongebob GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
   
{% endblock %}

{% block script %}

{% endblock %}