{% extends "main/layout.html" %}
{% load static %}
{% block head %}
<div class="header">
    
    <a href="" class="image fit"><img src="{% static 'main/2738.jpg' %}" alt="#" /></a> 
    <a href="https://www.freepik.com/vectors/background">by upklyak</a>
</div>
{% endblock %}
{% block body %}
    {% if user.is_authenticated %}
        <h2>Actualizaciones Recientes</h2>
        {% for actualizacion in actualizaciones%}
            <h4> {{actualizacion.proyecto.nombre}} </h4>
            <p> {{actualizacion.descripcion}} </p>
        {% empty %}
            <p> En este momento no hay actualizaciones. </p>
        {% endfor %}
    {% else %}
        <h2>Destacados</h2>
    {% endif %}
{% endblock %}

{% block script %}

{% endblock %}