{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
        <link rel="stylesheet" href="{%static 'main/styles.css'%}">
        <link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
        <title>{% block title %}Gdevlink{% endblock %}</title>
        
       
        {% block script %}
        {% endblock %}
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="#">GdevLink </a></h1>
                </div>
                <div id="menu">
                    <ul>
                        <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
                
                        <li><a href="#" accesskey="5" title="">Usuario/logIn</a></li>
                    </ul>
                </div>
            </div>
            </div>

    </head>
    <body id="mainBody">

        <div id="wrapper">
            <div class="space">
                
            </div>

            
            <div id="extra" class="tbody">
                {% block body %}
                {% endblock %}
            </div>
            
        </div>
        
      
   

        <footer id="footer">
            <div class="inner">
                <h2>E</h2>
                
            </div>
        </footer>

    </body>

</html>